<div class="main-wrapper login-body">
  <div class="container-fluid px-0">
    <div class="row">
      <!-- Login logo -->
      <div class="col-lg-6 login-wrap">
        <div class="login-sec">
          <div class="log-img">
            <img class="img-fluid" src="assets/img/login-02.png" alt="Logo" />
          </div>
        </div>
      </div>

      <div class="col-lg-6 login-wrap-bg">
        <div class="login-wrapper">
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap">
                <div class="account-logo">
                  <div class="text-center">
                    <a>
                      <img src="assets/img/login-logo.png" alt="new logo" height="73" width="132" /></a>
                  </div>
                </div>
                <h2>Getting Started</h2>

                <form [formGroup]="signupForm">
                  <div class="form-group">
                    <label for="Full">First Name <span class="login-danger">*</span></label>
                    <input class="form-control" placeholder="Enter First Name" type="text" [ngClass]="{
                        'is-invalid':
                          f['firstname'].touched && f['firstname'].errors
                      }" formControlName="firstname" id="firstname" [(ngModel)]="registrationModel.firstname" />
                    <div *ngIf="f['firstname'].touched && f['firstname'].errors" class="invalid-feedback">
                      <div *ngIf="f['firstname'].errors?.['required']">
                        Firstname is required
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="Full">Last Name <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="Enter Last Name" [ngClass]="{
                        'is-invalid':
                          f['lastname'].touched && f['lastname'].errors
                      }" formControlName="lastname" id="lastname" [(ngModel)]="registrationModel.lastname" />
                    <div *ngIf="f['lastname'].touched && f['lastname'].errors" class="invalid-feedback">
                      <div *ngIf="f['lastname'].errors?.['required']">
                        Last Name is required
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="Full">Email <span class="login-danger">*</span></label>
                    <input class="form-control" type="email" placeholder="Enter Email "
                      [ngClass]="{'is-invalid': f['email'].touched && f['email'].errors}" formControlName="email"
                      id="email" [(ngModel)]="registrationModel.email" />
                    <div *ngIf=" f['email'].touched || f['email'].invalid || f['email'].pristine"
                      class="invalid-feedback">
                      <div *ngIf="f['email'].errors?.['required']">
                        Email is required.
                      </div>
                      <div *ngIf="f['email'].errors?.['email']">
                        Please enter a valid email address.
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="Full">Contact No. <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="Enter Contact Number"
                      [ngClass]="{'is-invalid':f['phoneno'].touched && f['phoneno'].errors}" formControlName="phoneno"
                      required [(ngModel)]="registrationModel.contact" />

                    <div *ngIf=" f['phoneno'].touched || f['phoneno'].invalid || f['phoneno'].pristine "
                      class="invalid-feedback">
                      <div *ngIf="f['phoneno'].errors?.['required']">
                        Phone Number is required.
                      </div>
                      <!-- <div *ngIf="f['phoneno'].errors?.['pattern']">
                        Please, Enter 10 digit Phone Number.
                      </div> -->
                    </div>
                  </div>
                  <div class="form-group local-forms">
                    <label for="Speciality">Speciality <span class="login-danger">*</span></label>
                    <mat-select class="form-control select" placeholder="Select Speciality" formControlName="Speciality"
                      [ngClass]="{'is-invalid': signupForm.controls['Speciality'].touched && signupForm.controls['Speciality'].errors}"
                      [(ngModel)]="registrationModel.speciality">
                      <mat-option *ngFor="let data of specialityList" [value]="data.specialityname">
                        {{data.specialityname}}
                      </mat-option>
                    </mat-select>
                    <div class="text-danger" *ngIf="signupForm.controls['Speciality'].touched">
                      <span *ngIf="signupForm.controls['Speciality'].errors?.['required']">Select
                        Speciality</span>
                    </div>
                  </div>
                  <div class="form-group login-btn">
                    <button class="btn btn-primary btn-block" type="submit" [disabled]="!signupForm.valid"
                      (click)="saveRegistration()">
                      Sign up
                    </button>
                  </div>

                  <div class="next-sign">
                    <p class="account-subtitle">
                      Already have account?
                      <a routerLink="">Login</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>