<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.speciality">Facility </a></li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Specialty</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <!-- Page Header -->
          <div class="page-table-header mb-2">
            <div class="row align-items-center">
              <div class="col">
                <div class="doctor-table-blk">
                  <h3>Specialty</h3>
                </div>
              </div>
            </div>
          </div>
          <br>
          <!-- Page Body -->
          <div>
            <form [formGroup]="specialityForm">
              <div class="row">
                <div class="col-6 col-md-6 col-xl-6">
                  <div class="form-group local-forms">
                    <label for="Name">Specialty Name:</label>
                    <input class="form-control" type="text" placeholder="Speciality Name" formControlName="name"
                      [(ngModel)]="specialityModel.specialityname"
                      [ngClass]="{ 'is-invalid': fa['name'].touched && fa['name'].errors}">
                    <div class="invalid-feedback"
                      *ngIf="fa['name'].touched || fa['name'].invalid || fa['name'].pristine">
                      <div *ngIf="fa['name'].errors?.['required']">Name is required</div>
                      <div *ngIf="fa['name'].errors?.['pattern']">Max length exceeded, only 20
                        characters, no special character or numbers</div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 col-xl-6">
                  <div class="form-group local-forms">
                    <div class="form-control">
                      <label for="taxonomyCode">Taxonomy Code</label>
                      <ng-select [placeholder]="specialityModel.code ? '' : 'select taxonomy code'"
                        [items]="selectedList" bindLabel="PROVIDER TAXONOMY CODE" bindValue="PROVIDER TAXONOMY CODE"
                        [(ngModel)]="specialityModel.code" formControlName="taxonomyCode"
                        (change)="onSelectChange(this, specialityModel.code)"
                        [ngClass]="{'is-invalid': fa['taxonomyCode'].touched && fa['taxonomyCode'].errors}">

                        <ng-template ng-optgroup-tmp let-item="item">
                          {{item}}
                        </ng-template>
                      </ng-select>
                      <!-- <div class="invalid-feedback" *ngIf="fa['taxonomyCode'].touched">
                        <span *ngIf="fa['taxonomyCode'].errors?.['required']">Taxonomy code is required</span>
                      </div> -->
                      <div class="invalid-feedback" *ngIf="fa['taxonomyCode'].touched && fa['taxonomyCode'].errors">
                        <span *ngIf="fa['taxonomyCode'].errors?.['required']">Taxonomy code is required</span>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="col-12 col-md-6 col-xl-6">
                  <div class="form-group local-forms">
                    <label for="detail">Details</label>
                    <input class="form-control" type="text" placeholder="Enter Details" formControlName="detail"
                      [(ngModel)]="specialityModel.detail"
                      [ngClass]="{ 'is-invalid': fa['detail'].touched && fa['detail'].errors}">
                    <div class="invalid-feedback" *ngIf="fa['detail'].touched">
                      <div *ngIf="fa['detail'].errors?.['required']">Detail is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 col-xl-6">
                  <div class="form-group local-forms">
                    <label for="detail">Notes </label>
                    <input class="form-control" type="text" formControlName="notes" [(ngModel)]="specialityModel.notes"
                      placeholder="Enter Notes">
                  </div>
                </div>

                <div class="col-6 doctor-submit text-start" *ngIf="isUpdate==false">
                  <button type="submit" class="btn btn-primary submit-form me-2"
                    (click)="saveSpeciality()">Submit</button>
                </div>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <!-- Table Header -->
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Speciality List</h3>
                  </div>

                </div>

                <div class="col-auto text-end float-end ms-auto download-grp">
                  <div class="doctor-search-blk">
                    <div class="top-nav-search table-search-blk">
                      <input class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                        (ngModelChange)="searchData(searchDataValue)">
                      <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Table Header -->
            <div class="card-body">
              <div class="table-responsive">
                <table matSort (matSortChange)="sortData($event)"
                  class="table border-0 custom-table comman-table datatable mb-0">
                  <thead>
                    <tr>
                      <th mat-sort-header="active">Active</th>
                      <th mat-sort-header="name">Name</th>
                      <th mat-sort-header="taxonomyCode">Taxonomy Code</th>
                      <th mat-sort-header="detail">Detail</th>
                      <th mat-sort-header="notes">Notes</th>
                      <th mat-sort-header="specialization">
                        <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of SpecialityList">
                      <td>
                        <!-- [(ngModel)]="specialityModel.isactive" -->
                        <div class="form-check check-tables">
                          <input class="form-check-input" type="checkbox" checked>
                        </div>
                      </td>
                      <td>{{data.specialityname}}</td>
                      <td>{{data.taxonomycode}}</td>
                      <td>{{data.detail}}</td>
                      <td>{{data.notes}}</td>

                      <td class="text-right">
                        <a class="facTypeIcon" (click)="removeSpeciality(data.id)"><i class="fa fa-trash"
                            aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="table_footer">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info">
                      Showing {{ serialNumberArray[0] }} to
                      {{ serialNumberArray[serialNumberArray.length - 1] }} of
                      {{ totalData }} entries
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="pagination_section">
                      <ul class="pagination">
                        <li class="page-item" [ngClass]="{
                            disabled: currentPage === 1}">
                          <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                            tabindex="-1">Previous</a>
                        </li>

                        <ng-container *ngFor="let item of pageNumberArray; let i = index">
                          <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                              (pageNumberArray[currentPage - 2] > item &&
                                item !== 1 &&
                                pageNumberArray.length > 6) ||
                              (pageNumberArray[currentPage] < item &&
                                item !== 1 &&
                                pageNumberArray.length > 6 &&
                                pageNumberArray.length !== item)
                                ? 'hide-page-no'
                                : 'show-page-no'
                            ">
                            <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                              {{ item }}
                            </a>
                          </li>
                          <li class="page-item" *ngIf="
                              i === 0 &&
                              pageNumberArray.length > 6 &&
                              currentPage > 2
                            " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                            (keyup.enter)="moveToPage(currentPage - 2)" tabindex="0">
                            <a class="page-link" href="javascript:void(0);">
                              ...
                            </a>
                          </li>
                          <li *ngIf="
                              i === pageNumberArray.length - 2 &&
                              pageNumberArray.length > 6
                            " [hidden]="
                              currentPage >=
                                pageNumberArray[pageNumberArray.length - 2] ||
                              totalData <
                                serialNumberArray[serialNumberArray.length - 1]
                            " class="page-item" (click)="moveToPage(currentPage + 2)"
                            (keyup.enter)="moveToPage(currentPage + 2)" tabindex="0">
                            <a class="page-link" href="javascript:void(0);">
                              ...
                            </a>
                          </li>
                        </ng-container>

                        <li class="page-item" [ngClass]="{
                            disabled:
                              currentPage ===
                                pageNumberArray[pageNumberArray.length - 1] ||
                                SpecialityList.length === 0
                          }">
                          <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>