<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Admin Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="good-morning-blk">
            <div class="row">
                <div class="col-md-6">
                    <div class="morning-user">
                        <h2>Good Morning, <span>{{userName}}</span></h2>
                        <p>Have a nice day at work</p>
                    </div>
                </div>
                <div class="col-md-6 position-blk">
                    <div class="morning-img">
                        <img src="assets/img/morning-img-01.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3" *ngIf="role==='user'">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <img src="assets/img/icons/profile-add.svg" alt="">
                    </div>
                    <div class="dash-content dash-count">
                        <h4>New Patients</h4>
                        <h2><span class="counter-up" [countUp]="140" [options]="{duration: 10}">140</span></h2>
                        <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>20%</span> vs last
                            month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <i class="fas fa-clinic-medical text-primary fa-lg"></i>
                        <!-- <img src="assets/img/icons/scissor.svg" alt=""> -->
                    </div>
                    <div class="dash-content dash-count">
                        <h4>Total Facility List</h4>
                        <h2><span class="counter-up" [countUp]="56" [options]="{duration: 10}">56</span></h2>
                        <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>15%</span> vs
                            last month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <i class="fas fa-hand-holding-medical text-primary fa-lg "></i>
                    </div>
                    <div class="dash-content dash-count">
                        <h4>Total Medical Claims</h4>
                        <h2><span class="counter-up" [countUp]="80" [options]="{duration: 10}">56</span></h2>
                        <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>30%</span> vs last
                            month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <i class=" fas fa-check-circle text-primary fa-xl "></i>

                    </div>
                    <div class="dash-content dash-count">
                        <h4>Total Approved Claims</h4>
                        <h2><span class="counter-up" [countUp]="5" [options]="{duration: 10}">200</span></h2>
                        <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>40%</span> vs last
                            month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <i class="fas fa-window-close text-primary fa-lg"></i>

                    </div>
                    <div class="dash-content dash-count">
                        <h4>Total Rejcted Claims</h4>
                        <h2><span class="counter-up" [countUp]="10" [options]="{duration: 10}">200</span></h2>
                        <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>40%</span> vs last
                            month</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-boxs comman-flex-center">
                        <i class=" fas fa-dollar-sign
                      text-primary fa-lg  "></i>
                    </div>
                    <div class="dash-content dash-count">
                        <h4>Earnings</h4>
                        <h2>$<span class="counter-up" [countUp]="20250" [options]="{duration: 10}"> 20,250</span></h2>
                        <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>30%</span> vs last
                            month</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-12 col-md-12  col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title d-inline-block">Mediacal Claim List</h4> <a
                            [routerLink]="routes.appointmentList" class="patient-views float-end">Show all</a>
                    </div>
                    <div class="card-body p-0 table-dash">
                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)"
                                class="table mb-0 border-0 datatable custom-table">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="checkbox">
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </th>
                                        <th mat-sort-header="no">No</th>
                                        <th mat-sort-header="patientName">Patient name</th>
                                        <th mat-sort-header="doctor">Doctor</th>
                                        <th mat-sort-header="time">Time</th>
                                        <th mat-sort-header="disease">Disease</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of upcomingAppointments">
                                        <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </td>
                                        <td>{{data.no}}</td>
                                        <td>{{data.patientName}}</td>
                                        <td class="table-image appoint-doctor">
                                            <img width="28" height="28" class="rounded-circle" [src]="data.img" alt="">
                                            <h2>{{data.doctor}}</h2>
                                        </td>
                                        <td class="appoint-time"><span>{{data.date}} </span>{{data.time}}</td>
                                        <td><button class="custom-badge status-green ">{{data.disease}}</button></td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="javascript:void(0);" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" [routerLink]="routes.editAppointment"><i
                                                            class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        data-bs-toggle="modal" data-bs-target="#delete_appointment"><i
                                                            class="fa fa-trash-alt m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-6">
                <div class="card">
                    <div class="card-header pb-0">
                        <h4 class="card-title d-inline-block">Facility List</h4> <a [routerLink]="routes.patientsList"
                            class="float-end patient-views">show all</a>
                    </div>
                    <div class="card-block table-dash">
                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)"
                                class="table mb-0 border-0 datatable custom-table">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="checkbox">
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </th>
                                        <th mat-sort-header="no">No</th>
                                        <th mat-sort-header="patientName">Patient name</th>
                                        <th mat-sort-header="age">Age</th>
                                        <th mat-sort-header="dateOfBirth">Date of Birth</th>
                                        <th mat-sort-header="diagnosis">Diagnosis</th>
                                        <th mat-sort-header="triage">Triage</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of recentPatients">
                                        <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </td>
                                        <td>{{data.no}}</td>
                                        <td class="table-image">
                                            <img width="28" height="28" class="rounded-circle" [src]="data.img" alt="">
                                            <h2>{{data.patientName}}</h2>
                                        </td>
                                        <td>{{data.age}}</td>
                                        <td>{{data.dateOfBirth}}</td>
                                        <td>{{data.diagnosis}}</td>
                                        <td><button
                                                [ngClass]="{'status-green': data.triage === 'Non Urgent', 'status-pink' : data.triage === 'Emergency','status-gray' : data.triage === 'Out Patient','status-orange' : data.triage === 'Urgent' }"
                                                class="custom-badge">{{data.triage}}</button></td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="javascript:void(0);" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" [routerLink]="routes.editPatient"><i
                                                            class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        data-bs-toggle="modal" data-bs-target="#delete_appointment"><i
                                                            class="fa fa-trash-alt m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-6">
                <div class="card">
                    <div class="card-header pb-0">
                        <h4 class="card-title d-inline-block">Patient List </h4> <a [routerLink]="routes.patientsList"
                            class="float-end patient-views">show all</a>
                    </div>
                    <div class="card-block table-dash">
                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)"
                                class="table mb-0 border-0 datatable custom-table">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="checkbox">
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </th>
                                        <th mat-sort-header="no">No</th>
                                        <th mat-sort-header="patientName">Patient name</th>
                                        <th mat-sort-header="age">Age</th>
                                        <th mat-sort-header="dateOfBirth">Date of Birth</th>
                                        <th mat-sort-header="diagnosis">Diagnosis</th>
                                        <th mat-sort-header="triage">Triage</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of recentPatients">
                                        <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </td>
                                        <td>{{data.no}}</td>
                                        <td class="table-image">
                                            <img width="28" height="28" class="rounded-circle" [src]="data.img" alt="">
                                            <h2>{{data.patientName}}</h2>
                                        </td>
                                        <td>{{data.age}}</td>
                                        <td>{{data.dateOfBirth}}</td>
                                        <td>{{data.diagnosis}}</td>
                                        <td><button
                                                [ngClass]="{'status-green': data.triage === 'Non Urgent', 'status-pink' : data.triage === 'Emergency','status-gray' : data.triage === 'Out Patient','status-orange' : data.triage === 'Urgent' }"
                                                class="custom-badge">{{data.triage}}</button></td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="javascript:void(0);" class="action-icon dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" [routerLink]="routes.editPatient"><i
                                                            class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        data-bs-toggle="modal" data-bs-target="#delete_appointment"><i
                                                            class="fa fa-trash-alt m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>