<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="routes.employeefacility">User</a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">User List</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="employeefacility">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Add Employee Facilities</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Ename">User Name <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="User Name"
                                            formControlName="Ename"
                                            [ngClass]="{'is-invalid': employeefacility.controls['Ename'].touched && employeefacility.controls['Ename'].errors }">
                                        <div class="invalid-feedback"
                                            *ngIf="employeefacility.controls['Ename'].touched">
                                            <span *ngIf="employeefacility.controls['Ename'].errors?.['required']">
                                                User Name Required*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label for="Name">Facilities Name <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="Facilities Name"
                                            formControlName="Name"
                                            [ngClass]="{'is-invalid': employeefacility.controls['Name'].touched && employeefacility.controls['Name'].errors }">
                                        <div class="invalid-feedback" *ngIf="employeefacility.controls['Name'].touched">
                                            <span *ngIf="employeefacility.controls['Name'].errors?.['required']">
                                                Facilities Name Required*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2" (submit)="send()"
                                            [disabled]="employeefacility.invalid">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">
                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Facility Type List</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Table Header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table matSort (matSortChange)="sortData($event)"
                                    class="table border-0 custom-table comman-table datatable mb-0">
                                    <thead>
                                        <tr>
                                            <th mat-sort-header="active">Active</th>
                                            <th mat-sort-header="name" style="width: 70%;">Name</th>

                                            <th mat-sort-header="specialization">
                                                <a>
                                                    <i class="fa fa-trash" aria-hidden="true"> </i>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let s of employeelist">
                                            <td>
                                                <div class="form-check check-tables">
                                                    <input class="form-check-input" type="checkbox" value="something"
                                                        checked>
                                                </div>
                                            </td>
                                            <td>{{s.name}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                                <div class="table_footer">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info">
                                            Showing {{ serialNumberArray[0] }} to
                                            {{ serialNumberArray[serialNumberArray.length - 1] }} of
                                            {{ totalData }} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="pagination_section">
                                            <ul class="pagination">
                                                <li class="page-item" [ngClass]="{
                                              disabled: currentPage === 1}">
                                                    <a (click)="getMoreData('previous')" class="page-link"
                                                        href="javascript:void(0);" tabindex="-1">Previous</a>
                                                </li>

                                                <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                                    <li class="page-item" [class.active]="item === currentPage"
                                                        [ngClass]="
                                                (pageNumberArray[currentPage - 2] > item &&
                                                  item !== 1 &&
                                                  pageNumberArray.length > 6) ||
                                                (pageNumberArray[currentPage] < item &&
                                                  item !== 1 &&
                                                  pageNumberArray.length > 6 &&
                                                  pageNumberArray.length !== item)
                                                  ? 'hide-page-no'
                                                  : 'show-page-no'
                                              ">
                                                        <a (click)="moveToPage(item)" class="page-link"
                                                            href="javascript:void(0);">
                                                            {{ item }}
                                                        </a>
                                                    </li>
                                                    <li class="page-item" *ngIf="
                                                i === 0 &&
                                                pageNumberArray.length > 6 &&
                                                currentPage > 2
                                              " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)"
                                                        (keyup.enter)="moveToPage(currentPage - 2)" tabindex="0">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            ...
                                                        </a>
                                                    </li>
                                                    <li *ngIf="
                                                i === pageNumberArray.length - 2 &&
                                                pageNumberArray.length > 6
                                              " [hidden]="
                                                currentPage >=
                                                  pageNumberArray[pageNumberArray.length - 2] ||
                                                totalData <
                                                  serialNumberArray[serialNumberArray.length - 1]
                                              " class="page-item" (click)="moveToPage(currentPage + 2)"
                                                        (keyup.enter)="moveToPage(currentPage + 2)" tabindex="0">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            ...
                                                        </a>
                                                    </li>
                                                </ng-container>

                                                <li class="page-item" [ngClass]="{
                                              disabled:
                                                currentPage ===
                                                  pageNumberArray[pageNumberArray.length - 1] ||
                                                  employeelist.length === 0
                                            }">
                                                    <a (click)="getMoreData('next')" class="page-link"
                                                        href="javascript:void(0);">Next
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>