<div class="page-wrapper" *ngIf="isOpen == false">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.employeelist">Employees</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Employee List</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <!-- Table Header -->
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Employee List</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                          (ngModelChange)="searchData(searchDataValue)" />
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt="" /></a>
                      </div>
                      <div class="add-group">
                        <a class="btn btn-primary add-pluss ms-2" (click)="addToList()"><img
                            src="assets/img/icons/plus.svg" alt="" /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Table Header -->

            <div class="table-responsive">
              <table matSort (matSortChange)="sortData($event)"
                class="table border-0 custom-table comman-table datatable mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="checkbox">
                      <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something" />
                      </div>
                    </th>
                    <th mat-sort-header="name">Name</th>
                    <th mat-sort-header="department">SSN</th>
                    <th mat-sort-header="specialization">Job Title</th>
                    <th mat-sort-header="degree">Degree</th>
                    <th mat-sort-header="mobile">NPI</th>
                    <th mat-sort-header="joiningDate">Joining Date</th>
                    <th mat-sort-header="add-facilities">
                      <a>
                        <i class="fa fa-trash" aria-hidden="true"> </i>
                      </a>
                    </th>
                    <th mat-sort-header="add-facilities ">
                      <a>
                        <i class="fa-solid fa-pen-to-square "></i>
                      </a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of employeeList">
                    <td>
                      <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something" />
                      </div>
                    </td>
                    <td class="profile-image">
                      <a [routerLink]="routes.profile"><img width="28" height="28" [src]="data.img"
                          class="rounded-circle m-r-5" alt="" />
                        {{ data.name }}</a>
                    </td>
                    <td>{{ data.department }}</td>
                    <td>{{ data.specialization }}</td>
                    <td>{{ data.degree }}</td>
                    <td>
                      <a href="javascript:;">{{ data.mobile }}</a>
                    </td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.joiningDate }}</td>
                    <td class="text-end">
                      <div class="dropdown dropdown-action">
                        <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                          aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                          <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-trash-o m-r-5"></i>
                            Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isOpen == true">
  <form [formGroup]="validationForm">
    <div class="page-wrapper">
      <div class="content">
        <div class="page-header">
          <div class="row">
            <div class="col-sm-12">
              <ul class="breadcrumb">
                <li class="breadcrumb-item">
                  <a [routerLink]="routes.employeelist">Employee </a>
                </li>
                <li class="breadcrumb-item">
                  <i class="feather icon-chevron-right"></i>
                </li>
                <li class="breadcrumb-item active">Add Employee</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="form-heading d-flex justify-content-between">
                      <h4 name="EmployeeDetails">Demographics</h4>
                      <button type="submit" class="btn btn-primary submit-form mb-4 doctor-submit"
                        (click)="backToTable()">Back</button>

                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="user">Code <span class="login-danger">*</span></label>
                      <input class="form-control" type="number" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="firstName">First Name <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" placeholder="Enter Name" formControlName="firstName"
                        [ngClass]="{'is-invalid': validationForm.controls['firstName'].touched && validationForm.controls['firstName'].errors }">
                      <div class="invalid-feedback" *ngIf="validationForm.controls['firstName'].touched">
                        <span *ngIf="validationForm.controls['firstName'].errors?.['required']">Enter
                          name</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="user">Middle Name <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" placeholder="Middle Name" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="last">Last Name <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" required placeholder="Last Name"
                        formControlName="lastName"
                        [ngClass]="{'is-invalid': validationForm.controls['lastName'].touched && validationForm.controls['lastName'].errors }">
                      <div class="invalid-feedback" *ngIf="validationForm.controls['lastName'].touched">
                        <span *ngIf="validationForm.controls['lastName'].errors?.['required']">Enter
                          name</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="password">Credential <span class="login-danger">*</span></label>
                      <input class="form-control" type="password" placeholder="Enter Credential" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="Birth">Date Of Birth
                        <span class="login-danger">*</span></label>
                      <input class="form-control datetimepicker" type="text" matInput [matDatepicker]="picker" required
                        placeholder="Enter DOB" />
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="user">SSN <span class="login-danger">*</span></label>
                      <input class="form-control" type="number" placeholder="Enter SSN Number" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group select-gender">
                      <label for="gender" class="gen-label">Gender<span class="login-danger">*</span></label>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" name="gender" class="form-check-input" />Male
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" name="gender" class="form-check-input" />Female
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="card-body">
                <div class="row">

                  <div class="col-12">
                    <div class="form-heading">
                      <h4 name="EmployeeDetails">Primary Facility Detail</h4>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="department">Primary Facility <span class="login-danger">*</span></label>
                      <mat-select class="form-control select" placeholder="Select  Primary Facility">
                        <!-- <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                          {{ data.value }}
                        </mat-option> -->
                      </mat-select>
                    </div>
                  </div>


                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="mobile">Job Title <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" required placeholder="Contact Number" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="department">NPI Type <span class="login-danger">*</span></label>
                      <mat-select class="form-control select" placeholder="Select NPI Type">
                        <mat-option *ngFor="let data of NPI" [value]="data.value">
                          {{ data.value }}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="mobile">NPI <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" required disabled />
                    </div>
                  </div>


                  <!-- <div class="col-12 col-md-6 col-xl-6">
                      <div class="form-group local-forms">
                        <label for="confirmpassword">Confirm Password
                          <span class="login-danger">*</span></label>
                        <input class="form-control" type="password" placeholder="Enter Password" />
                      </div>
                    </div> -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="Birth">Date Of Joining
                        <span class="login-danger">*</span></label>
                      <input class="form-control datetimepicker" type="text" matInput [matDatepicker]="picker" required
                        placeholder="Date Of Joining" />
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Timezone">Timezone <span class="login-danger">*</span></label>
                      <mat-select class="form-control select" placeholder="Select Timezone" formControlName="Timezone">
                        <mat-option *ngFor="let t of Timezone" [value]="t.value">
                          {{t.value}}
                        </mat-option>
                      </mat-select>

                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="mobile">CTP <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" required disabled
                        placeholder="Certificate Of Prescribe" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="mobile">SPI <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" required placeholder="Surescript Provider Identity" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="mobile">NADEAN NO. <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" required placeholder="NADEAN Number" />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Timezone">Service Level <span class="login-danger">*</span></label>
                      <mat-select class="form-control select" placeholder="Select Timezone"
                        formControlName="Service Level">
                        <!-- <mat-option *ngFor="let t of Timezone" [value]="t.value">
                          {{t.value}}
                        </mat-option> -->
                      </mat-select>

                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="
                      AuthorizedPrescriberAgents">
                        Authorized Prescriber Agents <span class="login-danger">*</span></label>
                      <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{ standalone: true } " disabled
                        class="form-control select" placeholder="
                        Authorized Prescriber Agents">
                        <!-- <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                          {{ data.value }}
                        </mat-option> -->
                      </mat-select>
                    </div>
                  </div>


                  <!-- <div class="col-12 col-sm-12">
                      <div class="form-group local-forms">
                        <label for="biography">Start Biography
                          <span class="login-danger">*</span></label>
                        <textarea class="form-control" rows="3" cols="30"></textarea>
                      </div>
                    </div> -->

                  <!-- <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group select-gender">
                      <label for="Status" class="gen-label">Status <span class="login-danger">*</span></label>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" name="gender" class="form-check-input" />Active
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" name="gender" class="form-check-input" />In Active
                        </label>
                      </div>
                    </div>
                  </div> -->

                  <div class="col-12">
                    <div class="doctor-submit text-end">
                      <button type="submit" class="btn btn-primary submit-form me-2" (click)="backToTable()">
                        Submit
                      </button>
                      <button type="submit" class="btn btn-primary cancel-form" (click)="backToTable()">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>