<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.addclinic">Add Primary Facility </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Add Primary Facility</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isOpen == false">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">
                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Primary Facility List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input class="form-control" placeholder="Search here"
                                                    [(ngModel)]="searchDataValue"
                                                    (ngModelChange)="searchData(searchDataValue)" />
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg"
                                                        alt="" /></a>
                                            </div>

                                            <div class="add-group">
                                                <a class="btn btn-primary add-pluss ms-2" (click)="addclinic()"><img
                                                        src="assets/img/icons/plus.svg" alt="" /></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Table Header -->

                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)"
                                class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="checkbox">
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something" />
                                            </div>
                                        </th>
                                        <th mat-sort-header="name">Primary Facility Name</th>
                                        <th mat-sort-header="specialization">Specialization</th>
                                        <th mat-sort-header="mobile">Contact</th>
                                        <th mat-sort-header="email">Email</th>
                                        <div>
                                            <th mat-sort-header=" add-facilities">
                                                <a>
                                                    <i class="fa fa-trash" aria-hidden="true"> </i>
                                                </a>
                                            </th>
                                            <th mat-sort-header="add-facilities ">
                                                <a>
                                                    <i class="fa-solid fa-pen-to-square "></i>
                                                </a>
                                            </th>
                                        </div>
                                    </tr>
                                </thead>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                            class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isOpen == true">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="ClinicForm">
                            <div class="row">
                                <div class="col-12">

                                    <div class="form-heading d-flex justify-content-between">
                                        <h4>Add Primary Facility</h4>
                                        <button type="submit" class="btn btn-primary submit-form mb-4 doctor-submit"
                                            (click)="BackToTabel()">Back</button>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Name">Primary Facility Name <span
                                                class="login-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="Primary Facility Name"
                                            formControlName="Name" [(ngModel)]="primaryFacilityModel.name"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['Name'].touched && ClinicForm.controls['Name'].errors }">
                                        <div class="invalid-feedback" *ngIf="ClinicForm.controls['Name'].touched">
                                            <span *ngIf="ClinicForm.controls['Name'].errors?.['required']">Enter
                                                Facility Name*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Timezone">Timezone <span class="login-danger">*</span></label>
                                        <mat-select class="form-control select" placeholder="Select Timezone"
                                            formControlName="Timezone" [(ngModel)]="primaryFacilityModel.timezone"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['Timezone'].touched && ClinicForm.controls['Timezone'].errors}">
                                            <mat-option *ngFor="let timezone of selectedList5" [value]="timezone">
                                                {{timezone}}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="ClinicForm.controls['Timezone'].touched">
                                            <span *ngIf="ClinicForm.controls['Timezone'].errors?.['required']">Select
                                                timezone*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="NPI">National Provider Information(NPI) </label>
                                        <input class="form-control" type="number"
                                            placeholder="Enter National Provider Information" formControlName="NPI"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['NPI'].touched && ClinicForm.controls['NPI'].errors}"
                                            formControlName="NPI" [(ngModel)]="primaryFacilityModel.npi">
                                        <div class="invalid-feedback" *ngIf="ClinicForm.controls['NPI'].touched">
                                            <span *ngIf="ClinicForm.controls['NPI'].errors?.['required']">
                                                NPI Number Required</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="pos">Place of service <span class="login-danger">*</span></label>
                                        <mat-select class="form-control select" placeholder="Select Place Of Service"
                                            formControlName="pos" [(ngModel)]="primaryFacilityModel.pos"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['pos'].touched && ClinicForm.controls['pos'].errors}">
                                            <mat-option *ngFor="let t of PlaceOfService" [value]="t.value">
                                                {{t.value}}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="ClinicForm.controls['pos'].touched">
                                            <span *ngIf="ClinicForm.controls['pos'].errors?.['required']">
                                                Place Of Service Requied</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Speciality">Speciality </label>
                                        <mat-select class="form-control select" placeholder="Select Speciality"
                                            formControlName="Speciality" [(ngModel)]="primaryFacilityModel.speciaity"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['Speciality'].touched && ClinicForm.controls['Speciality'].errors}">
                                            <mat-option *ngFor="let data of SpecialityList"
                                                [value]="data.specialityname">
                                                {{data.specialityname}}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="ClinicForm.controls['Speciality'].touched">
                                            <span *ngIf="ClinicForm.controls['Speciality'].errors?.['required']">Select
                                                Speciality*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="TaxId">Tax ID </label>
                                        <input class="form-control" type="text" placeholder="Tax ID"
                                            formControlName="Taxid" [(ngModel)]="primaryFacilityModel.taxid"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['Taxid'].touched && ClinicForm.controls['Taxid'].errors }">
                                        <div class="invalid-feedback" *ngIf="ClinicForm.controls['Taxid'].touched">
                                            <span *ngIf="ClinicForm.controls['Taxid'].errors?.['required']">Text Id
                                                Required*</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Name">Primary Facility ID <span
                                                class="login-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="Primary Facility ID"
                                            formControlName="clientid"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['clientid'].touched && ClinicForm.controls['clientid'].errors }">
                                        <div class="invalid-feedback" *ngIf="ClinicForm.controls['clientid'].touched">
                                            <span *ngIf="ClinicForm.controls['clientid'].errors?.['required']">Enter
                                                name</span>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Name">Short Code<span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="Short Code"
                                            formControlName="ShortCode"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['ShortCode'].touched && ClinicForm.controls['ShortCode'].errors }">
                                        <div class="invalid-feedback" *ngIf="ClinicForm.controls['ShortCode'].touched">
                                            <span *ngIf="ClinicForm.controls['ShortCode'].errors?.['required']">Enter
                                                name</span>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Email">Email <span class="login-danger">*</span> </label>
                                        <input class="form-control" type="email" placeholder="Enter Email Id"
                                            formControlName="Email" [(ngModel)]="primaryFacilityModel.email">
                                        <div class="text-danger" *ngIf="ClinicForm.controls['Email'].touched">
                                            <span *ngIf="ClinicForm.controls['Email'].errors?.['required']">
                                                Email required*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Contact">Contact <span class="login-danger">*</span></label>
                                        <input class="form-control" type="number" placeholder="Contact Number"
                                            formControlName="Contact" [(ngModel)]="primaryFacilityModel.contact">
                                        <div class="text-danger" *ngIf="ClinicForm.controls['Contact'].touched">
                                            <span *ngIf="ClinicForm.controls['Contact'].errors?.['required']">
                                                Contact Number Required*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-top-form">
                                        <label for="avator" class="local-top">Facility Image</label>
                                        <div class="settings-btn upload-files-avator">
                                            <input type="file" accept="image/*" name="image" id="file"
                                                class="hide-input" formControlName="Avatar"
                                                (change)="uploadFile($event)"
                                                [(ngModel)]="primaryFacilityModel.facilityimage">
                                            <label for="file" class="upload">Choose File</label>
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="ClinicForm.controls['Avatar'].touched && ClinicForm.controls['Avatar'].errors">
                                            <span *ngIf="ClinicForm.controls['Avatar'].errors['required']">Please
                                                choose a file</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="country">Country <span class="login-danger">*</span></label>
                                        <mat-select class="form-control select" placeholder="Select Country"
                                            formControlName="Country" [(ngModel)]="primaryFacilityModel.country"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['Country'].touched && ClinicForm.controls['Country'].errors}"
                                            (selectionChange)="onCountryChange($event.value)">
                                            <mat-option *ngFor="let country of countries" [value]="country">
                                                {{ country }}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="ClinicForm.controls['Country'].touched">
                                            <span *ngIf="ClinicForm.controls['Country'].errors?.['required']">Select
                                                country*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="state">State/Province <span class="login-danger">*</span></label>
                                        <mat-select class="form-control select" placeholder="Select State"
                                            formControlName="State" [(ngModel)]="primaryFacilityModel.state"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['State'].touched && ClinicForm.controls['State'].errors}"
                                            (selectionChange)="onStateChange($event.value)">
                                            <mat-option *ngFor="let state of states" [value]="state">
                                                {{ state }}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="ClinicForm.controls['State'].touched">
                                            <span *ngIf="ClinicForm.controls['State'].errors?.['required']">Select
                                                state*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="city">City <span class="login-danger">*</span></label>
                                        <mat-select class="form-control select" placeholder="Select City"
                                            formControlName="City" [(ngModel)]="primaryFacilityModel.city"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['City'].touched && ClinicForm.controls['City'].errors}">
                                            <mat-option *ngFor="let city of cities" [value]="city.name">
                                                {{ city.name }}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="ClinicForm.controls['City'].touched">
                                            <span *ngIf="ClinicForm.controls['City'].errors?.['required']">Select
                                                city*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="address">Address <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30" formControlName="Address"
                                            placeholder="Enter Address" [(ngModel)]="primaryFacilityModel.address"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['Address'].touched && ClinicForm.controls['Address'].errors}"></textarea>
                                        <div class="text-danger" *ngIf="ClinicForm.controls['Address'].touched">
                                            <span *ngIf="ClinicForm.controls['Address'].errors?.['required']">
                                                Address required*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="postalcode">Postal Code <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="Postal Code"
                                            formControlName="Postal" [(ngModel)]="primaryFacilityModel.postalcode"
                                            [ngClass]="{'is-invalid': ClinicForm.controls['Postal'].touched && ClinicForm.controls['Postal'].errors}">
                                        <div class="text-danger" *ngIf="ClinicForm.controls['Postal'].touched">
                                            <span *ngIf="ClinicForm.controls['Postal'].errors?.['required']">
                                                postal code required*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2"
                                            (click)="SavePrimaryFacilityDeatails()"
                                            [disabled]="ClinicForm.invalid">Submit</button>
                                        <button type="submit" class="btn btn-primary cancel-form"
                                            (click)="backToTable()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>