<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.addFacilities">Facility </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Add Facilities</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row" *ngIf="isOpen==false">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">
                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Facility List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input class="form-control" placeholder="Search here"
                                                    [(ngModel)]="searchDataValue"
                                                    (ngModelChange)="searchData(searchDataValue)" />
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg"
                                                        alt="" /></a>
                                            </div>
                                            <div class="add-group" data-bs-tooltip="tooltip" title="Add Facility">
                                                <a class="btn btn-primary add-pluss ms-2" (click)="addFacilities()"><img
                                                        src="assets/img/icons/plus.svg" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Table Header -->

                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)"
                                class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="checkbox">
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something" />
                                            </div>
                                        </th>
                                        <th mat-sort-header="name">Name</th>

                                        <th mat-sort-header="specialization">Specialization</th>
                                        <th mat-sort-header="degree">Degree</th>
                                        <th mat-sort-header="mobile">Contact</th>
                                        <th mat-sort-header="email">Email</th>
                                        <th mat-sort-header="joiningDate">Joining Date</th>
                                        <div>
                                            <th mat-sort-header=" add-facilities">
                                                <a>
                                                    <i class="fa fa-trash" aria-hidden="true"> </i>
                                                </a>
                                            </th>
                                            <th mat-sort-header="add-facilities ">
                                                <a>
                                                    <i class="fa-solid fa-pen-to-square "></i>
                                                </a>
                                            </th>
                                        </div>


                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isOpen==true">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="FacilityForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading d-flex justify-content-between">
                                        <h4>Add Facilities</h4>
                                        <button type="submit" class="btn btn-primary submit-form mb-4 doctor-submit"
                                            data-bs-tooltip="tooltip" title=" Facility-list" (click)="BackToTabel()"><i
                                                class="fas fa-arrow-left me-2"></i>Back</button>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-md-6 col-xl-4">
                                    <label for="FacilityImage">Facility Image</label>
                                    <div class="profile-img-wrap">
                                        <img src="assets/img/user.jpg" alt="user">
                                        <input type="file" class="form-control" id="FacilityImage">
                                    </div>
                                </div> -->

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Name">Facility Name <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="Facility Name"
                                            formControlName="Name"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['Name'].touched && FacilityForm.controls['Name'].errors }">
                                        <div class="invalid-feedback" *ngIf="FacilityForm.controls['Name'].touched">
                                            <span *ngIf="FacilityForm.controls['Name'].errors?.['required']">Facility
                                                Name Required*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Timezone">Timezone <span class="login-danger">*</span></label>
                                        <mat-select class="form-control select" placeholder="Select Timezone"
                                            formControlName="Timezone"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['Timezone'].touched && FacilityForm.controls['Timezone'].errors}">
                                            <mat-option *ngFor="let timezone of selectedList5" [value]="timezone">
                                                {{timezone}}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="FacilityForm.controls['Timezone'].touched">
                                            <span *ngIf="FacilityForm.controls['Timezone'].errors?.['required']">Select
                                                timezone*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="NPI">National Provider Information(NPI) </label>
                                        <input class="form-control" type="number"
                                            placeholder="Enter National Provider Information" formControlName="NPI"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['NPI'].touched && FacilityForm.controls['NPI'].errors}"
                                            formControlName="NPI">
                                        <div class="invalid-feedback" *ngIf="FacilityForm.controls['NPI'].touched">
                                            <span *ngIf="FacilityForm.controls['NPI'].errors?.['required']">
                                                NPI Number Required*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="pos">Place of service <span class="login-danger">*</span></label>
                                        <mat-select class="form-control select" placeholder="Select Place Of Service"
                                            formControlName="pos"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['pos'].touched && FacilityForm.controls['pos'].errors}">
                                            <mat-option *ngFor="let t of PlaceOfService" [value]="t.value">
                                                {{t.value}}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="FacilityForm.controls['pos'].touched">
                                            <span *ngIf="FacilityForm.controls['pos'].errors?.['required']">
                                                Place Of Service Required*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Speciality">Speciality </label>
                                        <mat-select class="form-control select" placeholder="Select Speciality"
                                            formControlName="Speciality"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['Speciality'].touched && FacilityForm.controls['Speciality'].errors}">
                                            <mat-option *ngFor="let data of specialityList"
                                                [value]="data.specialityname">
                                                {{data.specialityname}}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="FacilityForm.controls['Speciality'].touched">
                                            <span
                                                *ngIf="FacilityForm.controls['Speciality'].errors?.['required']">Select
                                                Speciality*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="facilitytype">Facility Type </label>
                                        <mat-select class="form-control select" placeholder="Select Facility Type"
                                            formControlName="facilitytype"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['facilitytype'].touched && FacilityForm.controls['facilitytype'].errors}">
                                            <mat-option *ngFor="let data of facilityList" [value]="data.name">
                                                {{data.name}}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="FacilityForm.controls['facilitytype'].touched">
                                            <span
                                                *ngIf="FacilityForm.controls['facilitytype'].errors?.['required']">Select
                                                Facility Type*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="TaxId">Tax ID </label>
                                        <input class="form-control" type="text" placeholder="Tax ID"
                                            formControlName="Taxid"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['Taxid'].touched && FacilityForm.controls['Taxid'].errors }">
                                        <div class="invalid-feedback" *ngIf="FacilityForm.controls['Taxid'].touched">
                                            <span *ngIf="FacilityForm.controls['Taxid'].errors?.['required']">Text Id
                                                Requied*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Email">Email </label>
                                        <input class="form-control" type="email" placeholder="Email"
                                            formControlName="Email">
                                        <div class="text-danger" *ngIf="FacilityForm.controls['Email'].touched">
                                            <span *ngIf="FacilityForm.controls['Email'].errors?.['required']">
                                                Email Required*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="Contact">Contact </label>
                                        <input class="form-control" type="number" placeholder="Contact Number"
                                            formControlName="Contact">
                                        <div class="text-danger" *ngIf="FacilityForm.controls['Contact'].touched">
                                            <span *ngIf="FacilityForm.controls['Contact'].errors?.['required']">
                                                Contact Number Required*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-top-form">
                                        <label for="avator" class="local-top">Facility Image</label>
                                        <div class="settings-btn upload-files-avator">
                                            <input type="file" accept="image/*" name="image" id="file"
                                                onchange="loadFile(event)" class="hide-input" formControlName="Avatar">
                                            <label for="file" class="upload">Choose File</label>
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="FacilityForm.controls['Avatar'].touched && FacilityForm.controls['Avatar'].errors">
                                            <span *ngIf="FacilityForm.controls['Avatar'].errors['required']">Please
                                                choose a file</span>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="country">Country <span class="login-danger">*</span></label>
                                        <mat-select class="form-control select" placeholder="Select Country"
                                            formControlName="Country"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['Country'].touched && FacilityForm.controls['Country'].errors}"
                                            (selectionChange)="onCountryChange($event.value)">
                                            <mat-option *ngFor="let country of countries" [value]="country">
                                                {{ country }}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="FacilityForm.controls['Country'].touched">
                                            <span *ngIf="FacilityForm.controls['Country'].errors?.['required']">Select
                                                Country*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="state">State/Province <span class="login-danger">*</span></label>
                                        <mat-select class="form-control select" placeholder="Select State"
                                            formControlName="State"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['State'].touched && FacilityForm.controls['State'].errors}"
                                            (selectionChange)="onStateChange($event.value)">
                                            <mat-option *ngFor="let state of states" [value]="state">
                                                {{ state }}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="FacilityForm.controls['State'].touched">
                                            <span *ngIf="FacilityForm.controls['State'].errors?.['required']">Select
                                                State*</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="city">City <span class="login-danger">*</span></label>
                                        <mat-select class="form-control select" placeholder="Select City"
                                            formControlName="City"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['City'].touched && FacilityForm.controls['City'].errors}">
                                            <mat-option *ngFor="let city of cities" [value]="city">
                                                {{ city }}
                                            </mat-option>
                                        </mat-select>
                                        <div class="text-danger" *ngIf="FacilityForm.controls['City'].touched">
                                            <span *ngIf="FacilityForm.controls['City'].errors?.['required']">Select
                                                City*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label for="address">Address <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30" formControlName="Address"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['Address'].touched && FacilityForm.controls['Address'].errors}"
                                            placeholder="Enter Address"></textarea>
                                        <div class="text-danger" *ngIf="FacilityForm.controls['Address'].touched">
                                            <span *ngIf="FacilityForm.controls['Address'].errors?.['required']">
                                                Address Required*</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label for="postalcode">Postal Code <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" placeholder="Postal Code"
                                            formControlName="Postal"
                                            [ngClass]="{'is-invalid': FacilityForm.controls['Postal'].touched && FacilityForm.controls['Postal'].errors}">
                                        <div class="text-danger" *ngIf="FacilityForm.controls['Postal'].touched">
                                            <span *ngIf="FacilityForm.controls['Postal'].errors?.['required']">Enter
                                                Postal Code*</span>
                                        </div>
                                    </div>
                                </div>



                                <!-- <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label for="password">Password<span class="login-danger">*</span></label>
                                        <input class="form-control" type="password" >
                                    </div>
                                </div> -->

                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2"
                                            data-bs-tooltip="tooltip" title="Submit" (submit)="send()"
                                            [disabled]="FacilityForm.invalid">Submit</button>
                                        <button type="submit" class="btn btn-primary cancel-form"
                                            data-bs-tooltip="tooltip" title="Cancel">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>